
page-about {

    img{
      background-size: cover;
      width: 100%;
  
    }
    .pItem{
      text-align: center;
      font-size: 18px;
  
    }
    .listItem{
      border: #245274  solid ;
      margin: 5px 0 5px 0;
  
  
    }
    
  
  
  }
  