


page-home {
    .img1{
      width: 100%;

  
    }
  
  .adminPage{
    margin: 50px 0 ;
    border: #215175 3px solid;
    border-radius: 5px;
  
  }
  .familyPage{
    margin: 50px 0 ;
    border: #215175 3px solid;
    border-radius: 5px;
  
  }
 
  .mainItme{
     margin:120px 20px 20px 20px;
     padding-left: 10px;
  
  }
//   i{

//     color: #215175;
//    font-size: 2px;
//     display:inline-block;
//  margin-right:20px;
//  margin-bottom: 12px;
//   }



}
