<!-- complete! -->
<ion-header >
  <ion-navbar color="primary">
    <ion-title>تسجيل جديد</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="mainPage">
  <img class="headerImg" src="assets/imgs/sginup.png">
  


   <ion-label dir="rtl"><h5>عنوان البريد الالكتروني</h5></ion-label>
   
  <input class="txtEmail" type="text" [(ngModel)] = 'data.email'>

  <ion-label dir="rtl"><h5>  كلمة السر</h5></ion-label>
  <input class="txtPass" type="{{type}}" type="password"  [(ngModel)]='data.password'>
  <button *ngIf="!showPass" item-right (click)="showPassword()">
    <ion-icon name="ios-eye-off-outline" style="font-size:30px;" color="blue" ></ion-icon>
    </button>
  <button *ngIf="showPass" item-right (click)="showPassword()">
      <ion-icon name="ios-eye-outline" style="font-size:27px;" color="blue"  ></ion-icon>
  </button>
   

<button class="divBtn" (click) = "signUp()">Sign Up</button>


</ion-content>
