page-show {


  .itemIon1{
  border-radius: 7px;
  border: #215175 3px solid;
  margin-top: 10px;
  }
  
  
  .shwBtn{
    margin: 1px;
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;
    background: #215175;
  }
  .editBtn{
    margin: 1px;
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;
    background: #215175;
  
  }
  .delBtn{
    margin: 1px;
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;
    background: #215175;
  }
  
  }
  