page-admin {


    .headerAdminImg{
        background-size: cover;
        width: 100%;
        }
    //
    //
    .summryAdminImg{
      background-size: cover;
      width: 100%;
      margin: 5% 0 5% 0;
      padding: 5%;
    
        // margin: 20px 0 20px 0;
        // padding: 20px;
        background-color: #E7F1F8;
        }
    //
        .btnGroup{
                margin-left: auto;
                margin-right: auto;
    
        }
    //     .btnCss{
    //
    //
    //     }
    .showBtn{
         width: 70%;
         height: 40px;
         font-size: 20px;
         border-radius: 50px;
         margin: 10px 12% ;
         color: beige;
         background-color: #215175;
    
    
    
    }
    .addBtn{
         // width: 96px;
         // height: 40px;
         // font-size: 20px;
         // border-radius: 50px;
         // margin: 10px 0 10px 0;
         // color: beige;
         // background-color: #215175;
                     // position: absolute;
                     // top: 400px;
                     // left: 80px;
    
                     width: 70%;
                     height: 40px;
                     font-size: 20px;
                     border-radius: 50px;
                     margin: 10px 12% ;
                     color: beige;
                     background-color: #215175;
    
    
    }
    .delBtn{
         // width: 96px;
         // height: 40px;
         // font-size: 20px;
         // border-radius: 50px;
         // margin: 10px 0 10px 0;
         // color: beige;
         // background-color: #215175;
         //     position: absolute;
         //     top: 400px;
         //     left: 198px;
    
         width: 70%;
         height: 40px;
         font-size: 20px;
         border-radius: 50px;
         margin: 10px 12% ;
         color: beige;
         background-color: #f53d3de0;
    
    }
    
    
    .sinup{
    font-size: 20px;
    align-content: center;
    align-items: center;
    text-align: center;
    
    }
    
    }
    